
data/trinity.untrimmed.kmer2.fa

data/trinity.untrimmed.kmer2.fixed.fa

data/Mytilus-SXT.trimmed.trinity.fa

data/trinity.untrimmed.w_trimming.kmer2.fa

*.kallisto_idx

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.fa

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.noblast

nbs/analyses/Mytilus-SXT.trimmed.trinityNOHIT.fa

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.tab

data/Mytilus-SXT.trimmed.trinity.v3.fa

data/Mytilus-SXT.trimmed.trinity.faIDonly

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.TAB.NOTeukar

nbs/analyses/lcrna/transcriptome.fa

data/Myt-sxt-contigs_CLC.fa

nbs/analyses/transrate-CLC-Cgigas-pep/Myt-sxt-contigs_CLC/Crassostrea_gigas.GCA_000297895.1.29.pep.all.fa_chunk_0.fasta.blast

nbs/analyses/transrate-CLC-Cgigas-pep/Myt-sxt-contigs_CLC/Crassostrea_gigas.GCA_000297895.1.29.pep.all.fa_chunk_1.fasta.blast
