
data/trinity.untrimmed.kmer2.fa

data/trinity.untrimmed.kmer2.fixed.fa

data/Mytilus-SXT.trimmed.trinity.fa

data/trinity.untrimmed.w_trimming.kmer2.fa

*.kallisto_idx

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.fa

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.noblast

nbs/analyses/Mytilus-SXT.trimmed.trinityNOHIT.fa

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.tab

data/Mytilus-SXT.trimmed.trinity.v3.fa

data/Mytilus-SXT.trimmed.trinity.faIDonly

nbs/analyses/Mytilus-SXT.trimmed.trinityIDonly.TAB.NOTeukar

nbs/analyses/lcrna/transcriptome.fa
